<section id="about" class="about">
  <div class="about__container">
    <div class="about__left fade-in">
      <h2 class="about__title">
        About<em>me</em>
      </h2>
      <p class="about__bio">
        I am a final-year Computer Science Engineering student at Benemérita 
        Universidad Autónoma de Puebla with experience in machine learning, 
        full-stack web development, and software engineering. 
        I have developed web applications by building backend 
        services and APIs, creating frontend features, integrating databases, 
        and collaborating with engineering teams and Canadian Product Owners.
        </p>
      <p class="about__bio">
        My background includes applying AI techniques to real-world problems 
        such as emotion detection, public safety object detection, and medical classification systems.
      </p>
      <div class="about__cta">
        <a href="CV-JATS.pdf" class="btn-outline glass">Download CV</a>
      </div>
    </div>

    <div class="about__right fade-in">
        <img class="me-image framed" src="PSX_20230213_180909.jpg">
    </div>
  </div>
</section>
